{:kotoba.app/id "cloud.itonami.isic-1420", :kotoba.app/kind "appview", :kotoba.app/bundle-cid "bafkreife4cvkw6c7336s7cd7nv4r3avj6b6keiq3vugkps77nqddszxmae", :kotoba.app/embed-url "ipfs://bafkreife4cvkw6c7336s7cd7nv4r3avj6b6keiq3vugkps77nqddszxmae", :published {:archive "https://kotobase.net/ipfs/bafkreife4cvkw6c7336s7cd7nv4r3avj6b6keiq3vugkps77nqddszxmae", :size 72853, :put-status 201, :get-status 200, :at "2026-08-15T13:40:14.046Z"}}
